.ipForm {
  display: flex;
  flex-direction: column;
}
.dummy-space {
  width: 10%;
}
.login-button {
  width: 20%;
}
.ipForm-login {
  width: 100%;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.ipForm-title {
  text-transform: uppercase;
  font-size: 22px;
}
.ipForm-content {
  border-right: 1px solid #a5ce39;
  /* padding: 50px; */
  font-size: 20px;
  padding-left: 0px;
}

.show {
  animation-name: loginShow;
  animation-duration: 0.5s;
  position: relative;
}
.hide {
  /* animation-name: loginHide; */
  /* animation-duration: 0.5s;
  animation-fill-mode: forwards; */
  display: none;
  /* position: relative;
  opacity: 0; */
  /* transition: display 3.25s, opacity 0.15s linear; */
}
@keyframes slideLogo {
  from {
    left: calc(20% - 100px);
    opacity: 0;
  }
  to {
    left: calc(20% - 50px);
    opacity: 1;
  }
}
@keyframes loginShow {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

@keyframes loginHide {
  0% {
    right: 0%;
    opacity: 1;
  }
  99% {
    right: 100%;
    opacity: 0;
  }
  100% {
    right: 300%;
    width: 0px;
  }
}
