.ins-loading {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.ins-root-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: left;
}
.ins-root-main-left {
  width: 20%;
  background-color: #a5ce39;
}
.ins-root-main-right {
  width: 80%;
  background-color: white;
}
.ins-root-main-icon {
  width: 100px;
  height: 100px;
  background-color: #f8f8f8;
  position: absolute;
  left: calc(20% - 50px);
  top: calc(50% - 50px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-right: 1px solid #a5ce39;
  animation-name: slideLogo;
  animation-duration: 0.75s;
  opacity: 1;
}
.ins-root-main-icon img {
  width: 100%;
}
.ins-root-main-icon-main {
  width: 100%;
  font-size: 80px;
}
.ins-root-main-left-logo {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.ins-root-main-left-logo img {
  width: 100%;
  max-width: 300px;
}
.ins-root-main-right-banner {
  width: 100%;
}
.ins-root-main-right-banner img {
  width: 100%;
}
.ins-root-main-right {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.ins-root-main-right-container {
  width: calc(100% - 50px);
  height: 100%; /* 
  background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.ins-root-main-right-container-dummy {
  width: 50px;
}
.ins-root-main-right-container-panel {
  width: 80%;
  height: 100%;
  color: #a5ce39;
  font-family: "robotolight", sans-serif;
  font-size: 40px;
  /* display: flex;
  flex-direction: column; */
  /* background-color: bisque; */
}
.ins-rmrcp-frame1 {
  height: 120px;
  margin-bottom: 50px;
}
.ins-rmrcp-frame1-greet {
  text-transform: uppercase;
  padding-top: 20px;
}
.ins-rmrcp-frame1-info {
  font-size: 18px;
  color: #424143;
  /* text-decoration: underline; */
}
.ins-rmrcp-frame2 {
  /* height: calc(100% - 120px); */
  display: flex;
  align-items: center;
}
@keyframes slideLogo {
  from {
    left: calc(20% - 100px);
    opacity: 0;
  }
  to {
    left: calc(20% - 50px);
    opacity: 1;
  }
}
