.pInfoForm {
  display: flex;
}
.dummy-space {
  width: 10%;
}
.login-button {
  width: 20%;
}
.pInfoForm-login {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.pInfoForm-title {
  text-transform: uppercase;
  font-size: 30px;
}
.pInfoForm-content {
  border-right: 1px solid #a5ce39;
  padding: 50px;
  font-size: 20px;
  padding-left: 0px;
}

.show {
  animation-name: loginShow;
  animation-duration: 0.5s;
  position: relative;
}
.hide {
  animation-name: loginHide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
  position: relative;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.15s linear;
}
.showNone {
  display: none;
}
.showMe {
}
@keyframes slideLogo {
  from {
    left: calc(20% - 100px);
    opacity: 0;
  }
  to {
    left: calc(20% - 50px);
    opacity: 1;
  }
}
@keyframes loginShow {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

@keyframes loginHide {
  0% {
    right: 0%;
    opacity: 1;
  }
  99% {
    right: 100%;
    opacity: 0;
  }
  100% {
    right: 300%;
  }
}
